body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}
input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
}
